/* tag selector */
h1, h3 {
    color: red /* !important */;
    font-family: cursive;
}

/* class selector */
.even {
    color: blue;
}

/* id selector */
#h5Id1 {
    color: orange;
}

div {
    color: green;
}

span {
    color: purple;
}

body > table {
    margin: auto;
}

/* table {
    margin: auto;
} */

/* body > span > div {
    color: aquamarine;
} */