<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>HallowsMonsters</display-name>
  <welcome-file-list>
  	<!-- this can target either internal files or external url patterns -->
    <!-- 
    <welcome-file>index.html</welcome-file>
     -->
     <welcome-file>/asd.page</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DataServlet</display-name>
    <servlet-name>DataServlet</servlet-name>
    <servlet-class>com.web.servlet.DataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataServlet</servlet-name>
    <url-pattern>/DataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CorsServlet</display-name>
    <servlet-name>CorsServlet</servlet-name>
    <servlet-class>com.web.servlet.CorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorsServlet</servlet-name>
    <url-pattern>/CorsServlet</url-pattern>
  </servlet-mapping>
</web-app>